@import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@1,400;1,500');
*{
    box-sizing: border-box;
}

body{

    background-image: linear-gradient(90deg,rgb(71, 71, 204),rgb(50, 50, 92));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.search .input{

    background-color: #fff;
    font-size: 18px;
    border:0;
    padding: 10px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}
.search{
    position: relative;
    height: 50px;
}
.search .btn{

    background-color: #fff;
    border:0;
    font-size: 24px;
    position: absolute;
    top:0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus{

    outline: none;
}

.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(198px);
}